[package]
name = "tenet"
description = "User and Tenant management for Saas applications"
authors = ["Stefan Schick <stefan.schick@stecug.de>"]
license = "GPL-3.0-or-later"
readme = "README.md"
homepage = "https://stecug.de"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
thiserror = "1"
uuid = { version = "*", features = ["v4", "serde"] }
chrono = { version = "0.4.19", features = ["serde"] }

serde = "*"
serde_json = "*"
serde_derive = "*"

lazy_static = "1.4.0"
r2d2 = "0.8.9"

diesel = { version = "2.0", features = ["postgres", "r2d2", "uuid", "chrono"] }
diesel_migrations = "2.0"

rand = "0.8.3"
rust-argon2 = "2.0.0"

log = "*"
simple_logger = "4.0"